* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(236, 238, 240);
}

h1 {
    color: rgb(200, 20, 20);
    font-size: 30px;
    text-align: left;
    border-left: 100px;
    padding-left: 150px;
    padding-top: 130px;
}

h2 {
    font-weight: normal;
    text-align: left;
    padding-left: 150px;
}

p {
    font-size: 20px;
    color: rgb(133, 131, 131);
    max-width: 400px;
    text-align: left;
    padding-left: 150px;
}

a {
    color: black;
    text-decoration: none;
    padding-left: 150px;
    font-size: 20px;
    letter-spacing: 3px;
}